In [1]:
from IPython.display import HTML

HTML('''<script> 
code_show=true;
function code_toggle() { 
  if (code_show){
    $('div.input').hide();
    $('div.prompt').hide();
  } 
  else { 
    $('div.prompt').show();
    $('div.input').show();
    } code_show = !code_show ;
    
}

$( document ).ready(code_toggle);
</script>
<style>
input {
    width : 100%;
    background-color: white;
    border: none;
    color: white;
    padding: 1px 1px;
    margin: 1px 1px;
    cursor: pointer;
}
</style>

<form action="javascript:code_toggle()">
  <input type="submit" value="">
</form>''')

# 2017 Plan
- Reinforcement Learning 
 - 
- Paper Reading
- Personal AI project ( investment )
- Data Scientist Blog Refine

Measurement

- $ \text{EPS (Earnings Per Share) }  = \frac{ \text{Net Income - Divdends on Preferred Stock }}{\text{Average Outstanding Shares}} $ 

- $ \text{P/E ratio} = \frac{\text{Price Per Share ( Stock Price )}}{\text{EPS}} $

In [2]:
from yahoo_finance import Share
import pandas as pd
import datetime

def getStock(id):
    stock = Share(str(id)+'.TW')
    today = datetime.date.today()
    data = stock.get_historical('2016-12-01', str(today))
    return data

def json_to_pdtable(data):
    data = str(data)
    df = pd.read_json(data, orient='records')
    return df


data =  getStock(1517)
print data

[{'Volume': '156000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.45', 'Low': '10.30', 'Date': '2017-02-02', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-02-01', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-31', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-30', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-27', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-26', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-25', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '255000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-24', 'Close': '10.40', 'Open': '10.30'}, {'Volume': '129000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-23', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '109000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-20', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '85000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-19', 'Close': '10.30', 'Open': '10.30'}, {'Volume': '199000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-18', 'Close': '10.30', 'Open': '10.30'}, {'Volume': '271000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.25', 'Date': '2017-01-17', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '169000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-16', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '68000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-13', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '137000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.45', 'Low': '10.35', 'Date': '2017-01-12', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '45000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-11', 'Close': '10.40', 'Open': '10.35'}, {'Volume': '108000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-10', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '71000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-09', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '88000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.35', 'Date': '2017-01-06', 'Close': '10.35', 'Open': '10.40'}, {'Volume': '362000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-05', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '148000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.25', 'Date': '2017-01-04', 'Close': '10.40', 'Open': '10.30'}, {'Volume': '98000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-03', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-02', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '68000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-30', 'Close': '10.40', 'Open': '10.35'}, {'Volume': '18000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-29', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '109000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-28', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '73000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-27', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '107000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-26', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '42000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.25', 'Date': '2016-12-23', 'Close': '10.35', 'Open': '10.25'}, {'Volume': '96000', 'Symbol': '1517.TW', 'Adj_Close': '10.25', 'High': '10.35', 'Low': '10.25', 'Date': '2016-12-22', 'Close': '10.25', 'Open': '10.25'}, {'Volume': '77000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-21', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '130000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-20', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '53000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.40', 'Low': '10.25', 'Date': '2016-12-19', 'Close': '10.30', 'Open': '10.25'}, {'Volume': '75000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-16', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '35000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-15', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '114000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.40', 'Low': '10.25', 'Date': '2016-12-14', 'Close': '10.30', 'Open': '10.30'}, {'Volume': '100000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.50', 'Low': '10.35', 'Date': '2016-12-13', 'Close': '10.35', 'Open': '10.50'}, {'Volume': '112000', 'Symbol': '1517.TW', 'Adj_Close': '10.50', 'High': '10.55', 'Low': '10.40', 'Date': '2016-12-12', 'Close': '10.50', 'Open': '10.55'}, {'Volume': '91000', 'Symbol': '1517.TW', 'Adj_Close': '10.55', 'High': '10.55', 'Low': '10.45', 'Date': '2016-12-09', 'Close': '10.55', 'Open': '10.50'}, {'Volume': '88000', 'Symbol': '1517.TW', 'Adj_Close': '10.50', 'High': '10.55', 'Low': '10.45', 'Date': '2016-12-08', 'Close': '10.50', 'Open': '10.55'}, {'Volume': '91000', 'Symbol': '1517.TW', 'Adj_Close': '10.50', 'High': '10.65', 'Low': '10.50', 'Date': '2016-12-07', 'Close': '10.50', 'Open': '10.60'}, {'Volume': '82000', 'Symbol': '1517.TW', 'Adj_Close': '10.60', 'High': '10.65', 'Low': '10.55', 'Date': '2016-12-06', 'Close': '10.60', 'Open': '10.60'}, {'Volume': '632000', 'Symbol': '1517.TW', 'Adj_Close': '10.60', 'High': '10.65', 'Low': '10.40', 'Date': '2016-12-05', 'Close': '10.60', 'Open': '10.40'}, {'Volume': '291000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.25', 'Date': '2016-12-02', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '263000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.30', 'Low': '10.15', 'Date': '2016-12-01', 'Close': '10.30', 'Open': '10.20'}]

In [58]:
for j in data :
    print list(j) 
    print (j.viewvalues())
b= str(data)

['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['156000', '1517.TW', '10.40', '10.45', '10.30', '2017-02-02', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-02-01', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-01-31', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-01-30', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-01-27', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-01-26', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-01-25', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['255000', '1517.TW', '10.40', '10.40', '10.30', '2017-01-24', '10.40', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['129000', '1517.TW', '10.35', '10.35', '10.30', '2017-01-23', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['109000', '1517.TW', '10.35', '10.35', '10.25', '2017-01-20', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['85000', '1517.TW', '10.30', '10.35', '10.25', '2017-01-19', '10.30', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['199000', '1517.TW', '10.30', '10.35', '10.30', '2017-01-18', '10.30', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['271000', '1517.TW', '10.35', '10.40', '10.25', '2017-01-17', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['169000', '1517.TW', '10.30', '10.35', '10.25', '2017-01-16', '10.30', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['68000', '1517.TW', '10.30', '10.35', '10.30', '2017-01-13', '10.30', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['137000', '1517.TW', '10.40', '10.45', '10.35', '2017-01-12', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['45000', '1517.TW', '10.40', '10.40', '10.30', '2017-01-11', '10.40', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['108000', '1517.TW', '10.35', '10.35', '10.25', '2017-01-10', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['71000', '1517.TW', '10.35', '10.35', '10.30', '2017-01-09', '10.35', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['88000', '1517.TW', '10.35', '10.40', '10.35', '2017-01-06', '10.35', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['362000', '1517.TW', '10.40', '10.40', '10.30', '2017-01-05', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['148000', '1517.TW', '10.40', '10.40', '10.25', '2017-01-04', '10.40', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['98000', '1517.TW', '10.40', '10.40', '10.30', '2017-01-03', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['000', '1517.TW', '10.40', '10.40', '10.40', '2017-01-02', '10.40', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['68000', '1517.TW', '10.40', '10.40', '10.30', '2016-12-30', '10.40', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['18000', '1517.TW', '10.35', '10.35', '10.30', '2016-12-29', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['109000', '1517.TW', '10.35', '10.35', '10.30', '2016-12-28', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['73000', '1517.TW', '10.30', '10.35', '10.30', '2016-12-27', '10.30', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['107000', '1517.TW', '10.35', '10.40', '10.30', '2016-12-26', '10.35', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['42000', '1517.TW', '10.35', '10.35', '10.25', '2016-12-23', '10.35', '10.25'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['96000', '1517.TW', '10.25', '10.35', '10.25', '2016-12-22', '10.25', '10.25'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['77000', '1517.TW', '10.35', '10.40', '10.30', '2016-12-21', '10.35', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['130000', '1517.TW', '10.35', '10.40', '10.30', '2016-12-20', '10.35', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['53000', '1517.TW', '10.30', '10.40', '10.25', '2016-12-19', '10.30', '10.25'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['75000', '1517.TW', '10.30', '10.35', '10.30', '2016-12-16', '10.30', '10.35'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['35000', '1517.TW', '10.35', '10.35', '10.30', '2016-12-15', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['114000', '1517.TW', '10.30', '10.40', '10.25', '2016-12-14', '10.30', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['100000', '1517.TW', '10.35', '10.50', '10.35', '2016-12-13', '10.35', '10.50'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['112000', '1517.TW', '10.50', '10.55', '10.40', '2016-12-12', '10.50', '10.55'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['91000', '1517.TW', '10.55', '10.55', '10.45', '2016-12-09', '10.55', '10.50'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['88000', '1517.TW', '10.50', '10.55', '10.45', '2016-12-08', '10.50', '10.55'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['91000', '1517.TW', '10.50', '10.65', '10.50', '2016-12-07', '10.50', '10.60'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['82000', '1517.TW', '10.60', '10.65', '10.55', '2016-12-06', '10.60', '10.60'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['632000', '1517.TW', '10.60', '10.65', '10.40', '2016-12-05', '10.60', '10.40'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['291000', '1517.TW', '10.35', '10.40', '10.25', '2016-12-02', '10.35', '10.30'])
['Volume', 'Symbol', 'Adj_Close', 'High', 'Low', 'Date', 'Close', 'Open']
dict_values(['263000', '1517.TW', '10.30', '10.30', '10.15', '2016-12-01', '10.30', '10.20'])

In [60]:
print b[1:-1]

{'Volume': '156000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.45', 'Low': '10.30', 'Date': '2017-02-02', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-02-01', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-31', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-30', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-27', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-26', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-25', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '255000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-24', 'Close': '10.40', 'Open': '10.30'}, {'Volume': '129000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-23', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '109000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-20', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '85000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-19', 'Close': '10.30', 'Open': '10.30'}, {'Volume': '199000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-18', 'Close': '10.30', 'Open': '10.30'}, {'Volume': '271000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.25', 'Date': '2017-01-17', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '169000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-16', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '68000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-13', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '137000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.45', 'Low': '10.35', 'Date': '2017-01-12', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '45000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-11', 'Close': '10.40', 'Open': '10.35'}, {'Volume': '108000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.25', 'Date': '2017-01-10', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '71000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2017-01-09', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '88000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.35', 'Date': '2017-01-06', 'Close': '10.35', 'Open': '10.40'}, {'Volume': '362000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-05', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '148000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.25', 'Date': '2017-01-04', 'Close': '10.40', 'Open': '10.30'}, {'Volume': '98000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2017-01-03', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.40', 'Date': '2017-01-02', 'Close': '10.40', 'Open': '10.40'}, {'Volume': '68000', 'Symbol': '1517.TW', 'Adj_Close': '10.40', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-30', 'Close': '10.40', 'Open': '10.35'}, {'Volume': '18000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-29', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '109000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-28', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '73000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-27', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '107000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-26', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '42000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.25', 'Date': '2016-12-23', 'Close': '10.35', 'Open': '10.25'}, {'Volume': '96000', 'Symbol': '1517.TW', 'Adj_Close': '10.25', 'High': '10.35', 'Low': '10.25', 'Date': '2016-12-22', 'Close': '10.25', 'Open': '10.25'}, {'Volume': '77000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-21', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '130000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.30', 'Date': '2016-12-20', 'Close': '10.35', 'Open': '10.35'}, {'Volume': '53000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.40', 'Low': '10.25', 'Date': '2016-12-19', 'Close': '10.30', 'Open': '10.25'}, {'Volume': '75000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-16', 'Close': '10.30', 'Open': '10.35'}, {'Volume': '35000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.35', 'Low': '10.30', 'Date': '2016-12-15', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '114000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.40', 'Low': '10.25', 'Date': '2016-12-14', 'Close': '10.30', 'Open': '10.30'}, {'Volume': '100000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.50', 'Low': '10.35', 'Date': '2016-12-13', 'Close': '10.35', 'Open': '10.50'}, {'Volume': '112000', 'Symbol': '1517.TW', 'Adj_Close': '10.50', 'High': '10.55', 'Low': '10.40', 'Date': '2016-12-12', 'Close': '10.50', 'Open': '10.55'}, {'Volume': '91000', 'Symbol': '1517.TW', 'Adj_Close': '10.55', 'High': '10.55', 'Low': '10.45', 'Date': '2016-12-09', 'Close': '10.55', 'Open': '10.50'}, {'Volume': '88000', 'Symbol': '1517.TW', 'Adj_Close': '10.50', 'High': '10.55', 'Low': '10.45', 'Date': '2016-12-08', 'Close': '10.50', 'Open': '10.55'}, {'Volume': '91000', 'Symbol': '1517.TW', 'Adj_Close': '10.50', 'High': '10.65', 'Low': '10.50', 'Date': '2016-12-07', 'Close': '10.50', 'Open': '10.60'}, {'Volume': '82000', 'Symbol': '1517.TW', 'Adj_Close': '10.60', 'High': '10.65', 'Low': '10.55', 'Date': '2016-12-06', 'Close': '10.60', 'Open': '10.60'}, {'Volume': '632000', 'Symbol': '1517.TW', 'Adj_Close': '10.60', 'High': '10.65', 'Low': '10.40', 'Date': '2016-12-05', 'Close': '10.60', 'Open': '10.40'}, {'Volume': '291000', 'Symbol': '1517.TW', 'Adj_Close': '10.35', 'High': '10.40', 'Low': '10.25', 'Date': '2016-12-02', 'Close': '10.35', 'Open': '10.30'}, {'Volume': '263000', 'Symbol': '1517.TW', 'Adj_Close': '10.30', 'High': '10.30', 'Low': '10.15', 'Date': '2016-12-01', 'Close': '10.30', 'Open': '10.20'}

In [73]:
df = pd.DataFrame(data)
df.describe()

       Adj_Close  Close        Date   High    Low   Open   Symbol Volume
count         46     46          46     46     46     46       46     46
unique         7      7          46      7      8      8        1     36
top        10.40  10.40  2017-01-16  10.40  10.30  10.30  1517.TW    000
freq          15     15           1     21     18     13       46      7

In [79]:
df.ix[:5,:]

  Adj_Close  Close        Date   High   Low   Open   Symbol  Volume
0     10.40  10.40  2017-02-02  10.45  10.3  10.40  1517.TW  156000
1     10.40  10.40  2017-02-01  10.40  10.4  10.40  1517.TW     000
2     10.40  10.40  2017-01-31  10.40  10.4  10.40  1517.TW     000
3     10.40  10.40  2017-01-30  10.40  10.4  10.40  1517.TW     000
4     10.40  10.40  2017-01-27  10.40  10.4  10.40  1517.TW     000
5     10.40  10.40  2017-01-26  10.40  10.4  10.40  1517.TW     000

In [80]:
df['High'] = df['High'].astype(float)
df['Low']  = df['Low'].astype(float)
df['Close']= df['Close'].astype(float)
df['Open'] = df['Open'].astype(float)
df.describe()

           Close       High        Low       Open
count  46.000000  46.000000  46.000000  46.000000
mean   10.379348  10.411957  10.323913  10.366304
std     0.076432   0.083123   0.077272   0.088853
min    10.250000  10.300000  10.150000  10.200000
25%    10.350000  10.350000  10.262500  10.300000
50%    10.350000  10.400000  10.300000  10.350000
75%    10.400000  10.400000  10.400000  10.400000
max    10.600000  10.650000  10.550000  10.600000

In [65]:
a = ('split','records','index', 'columns','values')

import json
from pandas.io.json import json_normalize


def g(data, a):
    df = pd.read_json(data, orient=a)
    return df

for i in a :
    try: 
        df = g(b[1:-1],a)
    except ValueError as e:
        print (e , i)

(ValueError('Expected object or value',), 'split')
(ValueError('Expected object or value',), 'records')
(ValueError('Expected object or value',), 'index')
(ValueError('Expected object or value',), 'columns')
(ValueError('Expected object or value',), 'values')

In [60]:

html = """
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">   

//
require.config({
         paths:{
            echarts: ['//cdn.bootcss.com/echarts/3.4.0/echarts.min'],
         }
    });

//
require(['echarts'],function(ec){
  //
  var myChart = ec.init(document.getElementById('main'));

  //
  var option = {
            title: {
                text: 'Kent'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

  //  
  myChart.setOption(option);
         });
    </script>
"""

In [61]:
from IPython.display import HTML
HTML(html)